html, body {
    height: 100%;
    width: 100%;
    font-weight: 500;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

.navbar {
    background-color: #000;
    padding: 0 10%;
    font-size: 1.2rem;
}

.navbar-brand {
    font-size: 40px;
    color: #fff;
    padding-top: 10px;
}

.logo {
    max-width: 50px;
}

.navbar-brand:hover {
    color: #d5d5d5;
    text-decoration: none;
}

div .navbar-nav li a {
    color: #d5d5d5;
}

div .navbar-nav li a:hover, div .navbar-nav li a:active {
    color: #fff;
}

.navbar-toggler {
    border: 2px solid #fff;
    color: #fff;
}

.navbar-toggler-icon {
    color: #fff;
}


#home {
    background: url('./images/home.jpg') no-repeat center center fixed;
    display: table;
    height: 100%;
    position: relative;
    width: 100%;
    background-size: cover;
    border-bottom: 1px solid black;
    letter-spacing: 8px;
}

.black-button {
    background-color: rgb(40, 40, 40);
    color: #fff;
    text-decoration: none;
}

.black-button:hover {
    background-color: #000;
    color: #fff;
}

.landing-text {
    color: #000;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.landing-text h1 {
    font-size: 600%;
    font-weight: 700;
}

.landing-text h2 {
    font-size: 200%;
}

.landing-text h3 {
    font-size: 200%;
    letter-spacing: 15px;
    margin-top: -25px;
    margin-left: 8px;
}

.padding {
    background-color: rgb(20, 20, 20);
    color: #fff;
    padding: 30px 0;
    font-family: 'Roboto', sans-serif;
}

.padding img {
    width: 100%;
}

img#img-section{
    width: 80%;
}

.padding h2, .padding h3, .padding h4 {
    font-weight: 400;
}

.padding p {
    font-size: 16px;
}

.product {
    margin-bottom: 20px;
}

.sectionTitle {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
    padding-top: 20px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

.sectionTitle p {
    font-size: 3rem;
    padding: 0 30px;
}

.sectionTitle .logo {
    width: 50px;
    height: 50px;
    margin-top: 5px;
}

#containerSection {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(100, 100, 100, 0.7);
    border-radius: 0.3rem;
    height: 80%;
    width: 90%;
}

#points {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
#points img {
    width: 100px;
    padding-bottom: 15px;
}


img#pointsImage {
    width: 50px;
    height: 50px;
}

#fixed1, #fixed2, #fixed3, #fixed4 {
    display: table;
    height: 80vh;
    position: relative;
    width: 100%;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

#fixed1 {
    background: url('./images/home3.jpg') no-repeat center center fixed;
    border-bottom: 1px solid rgb(255, 255, 255);
    border-top: 1px solid #fff;
}

#fixed2 {
    background: url('./images/home4.jpg') no-repeat center center fixed;
    border-bottom: 1px solid #fff;
    border-top: 1px solid #fff;
}


#fixed3 {
    background: url('./images/home6.jpg') no-repeat center center fixed;
    border-bottom: 1px solid #fff;
    border-top: 1px solid #fff;
}

#fixed4 {
    background: url('./images/home2.jpg') no-repeat center center fixed;
    border-top: 1px solid #fff;
}


footer {
    width: 100%;
    background-color: #000;
    padding: 5% 5% 10% 5%;
    color: #fff;
}

.fab {
    padding: 15px;
    font-size: 25px;
    color: #fff;

}

.fab:hover {
    color: #d5d5d5;
    text-decoration: none;
}

.icon {
    max-width: 150px;
}

@media (max-width: 768px) {
    #fixed1, #fixed2, #fixed3, #fixed4 {
        height: 60vh;
    }

    #home {
        height: 80%;
        border-bottom: 1px solid #fff;
        border-top: 1px solid #fff;
        letter-spacing: 2px;
    }

    .landing-text h1 {
        font-size: 650%;
    }

    .fab {
        font-size: 20px;
        padding: 10px;
    }

    .icon {
        padding-top: 5%;
        max-width: 100px;
    }

    .card-body {
        padding: 12px;
    }
}

@media (max-width: 576px) {
    #fixed1, #fixed2, #fixed3, #fixed4 {
        height: 50vh;
    }

    #home {
        height: 100%;
        border-bottom: 1px solid #fff;
        border-top: 1px solid #fff;
        letter-spacing: 2px;
    }

    .landing-text h1 {
        font-size: 400%;
    }

    .landing-text h3 {
        font-size: 100%;
        letter-spacing: 10px;
        margin-top: -15px;
    }

    #instaCaption {
        font-size: 0.6rem;
    }

    .card-body {
        padding: 12px;
    }
    
    .sectionTitle p {
        font-size: 2rem;
    }

    .sectionTitle .logo {
        width: 30px;
        height: 30px;
    }

    .padding .lead {
        font-size: 0.8rem;
    }

    .padding h4 {
        font-size: 1.2rem;
    }
}