html, body {
    height: 100%;
    width: 100%;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-weight: 500;
}

.navbar {
    background-color: #000;
    padding: 0 10%;
    font-size: 1.2rem;
}

.navbar-brand {
    font-size: 40px;
    color: #fff;
    padding-top: 10px;
}

.logo {
    max-width: 50px;
}

.navbar-brand:hover {
    color: #d5d5d5;
    text-decoration: none;
}

div .navbar-nav li a {
    color: #d5d5d5;
}

div .navbar-nav li a:hover, div .navbar-nav li a:active {
    color: #fff;
}

.navbar-toggler {
    border: 2px solid #fff;
    color: #fff;
}

.navbar-toggler-icon {
    color: #fff;
}


#home {
    background: url('./images/home.jpg') no-repeat center center fixed;
    display: table;
    height: 100%;
    position: relative;
    width: 100%;
    background-size: cover;
}

.black-button {
    background-color: rgb(40, 40, 40);
    color: #fff;
    text-decoration: none;
}

.black-button:hover {
    background-color: #000;
    color: #fff;
}

.landing-text {
    color: #000;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.landing-text h1 {
    font-size: 500%;
    font-weight: 700;
}

.padding {
    padding: 30px 0;
}

.padding img {
    width: 100%;
}

.product {
    margin-bottom: 20px;
}

.sectionTitle {
    font-size: 50px;
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}

#fixed1 {
    background: url('./images/home3.jpg') no-repeat center center fixed;
    display: table;
    height: 80%;
    position: relative;
    width: 100%;
    background-size: cover;
}

#fixed2 {
    background: url('./images/home4.jpg') no-repeat center center fixed;
    display: table;
    height: 80%;
    position: relative;
    width: 100%;
    background-size: cover;
}

#fixed3 {
    background: url('./images/home2.jpg') no-repeat center center fixed;
    display: table;
    height: 80%;
    position: relative;
    width: 100%;
    background-size: cover;
}

footer {
    width: 100%;
    background-color: #000;
    padding: 5% 5% 10% 5%;
    color: #fff;
}

.fab {
    padding: 15px;
    font-size: 25px;
    color: #fff;

}

.fab:hover {
    color: #d5d5d5;
    text-decoration: none;
}

.icon {
    max-width: 150px;
}

@media (max-width: 768px) {
    .landing-text h1 {
        font-size: 300%;
    }
    .fab {
        font-size: 20px;
        padding: 10px;
    }
    .icon {
        padding-top: 5%;
        max-width: 100px;
    }
}